
.statistics-section {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    align-items: center;
    color: #fff;
    height: 40vh;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

  .stat-icon {
    font-size: 3rem; 
    color: #fbb03b; 
    margin-bottom: 15px;
  }
  
  .stat-number {
    font-size: 2.5rem; 
    margin: 0;
    color: #fff;
  }

  .stat-label {
    font-size: 1rem;
    font-weight: bold;
    color: #ffb600;
    margin-top: 5px;
  }
  