.category-container {
  text-align: center;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  margin-top: 200px;
}

.category-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.category-container p {
  color: #888;
  margin-bottom: 40px;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}

.grid-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.grid-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid pink;
}

.category-icon {
  font-size: 40px;
  color: #f76c6c;
  margin-bottom: 15px;
}

.category-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.category-events {
  color: #666;
  font-size: 0.9rem;
}
